img {
    height:3rem ;
}

.header {
    background-color:  rgb(219, 240, 252) ;
}


span {
    display: flex ;
    align-items: center;
    
}
#teste {
padding-left: 1rem;
font-size: 1rem ;
color: rgb(151, 139, 139);
margin-left: 25%;

}