<mat-card class="home mat-elevation-z4" >
    <mat-card-title class="title">
        
        <h4> Projeto LojaKLM </h4>
    </mat-card-title>
    <h5 class="card-title">Bem  vindo  ao projeto LojaKLM</h5><br>
    <p class="card-text">Projeto destina a montagem de um portfólio.<p>

<p>Tendo como objetivo principal mostrar aos recrutadores minhas  abilidades em programação. O mesmo esta sendo montado em Python e PhP.
Projeto loja virtual composto por:</p>
      <p>Modulo de cadastro de produtos e fornecedores.</p><div><img src="assets/img/emAndamento.png" id="em_andamento"><h5 style="color:green;">Em execução</h5></div>

    <p>Modulo de controle de usuário.</p><div><img src="assets/img/aComecar.png" class="a_comecar"><h5 style="color: gold">A começar</h5></div>
    <p>Modulo de controle de estoque.</p><div><img src="assets/img/aComecar.png" class="a_comecar"><h5 style="color: gold">A começar</h5></div>
<p>Modulo de comercialização.</p><div><img src="assets/img/aComecar.png" class="a_comecar"><h5 style="color: gold">A começar</h5></div>
<p>Modulo de análise de dados.<p><div><img src="assets/img/aComecar.png" class="a_comecar"><h5 style="color: gold">A começar</h5></div>

Ferramentas: Linguagem de programação java, framework Spring Boot, banco de dado MySQL e
hospedagem frontend Git, backend Heroku

    <mat-card-subtitle class="subtitle"></mat-card-subtitle>
</mat-card>
